@import "tailwindcss";

/* tailwind theme */
@theme{
  --color-primary:#5a189a;
  --color-primary-hover:#3c096c;
  --color-secondary:#1854c5;
  --color-bg:#121517;
  --color-details:#393a3a;
}
/* tailwind theme */

*{
  font-family: 'Jost', sans-serif;

  /* Webkit scrollbar customization */
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-bg);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-details);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
  }
}

/* message burble details */
.clip_triangle{
  &.bot::after{
    content: "";
    position: absolute;
    top: 0;
    left: -9px;
    width: 10px;
    height: 10px;
    background: var(--color-secondary);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
  }
  &.user::after{
    content: "";
    position: absolute;
    top: 0;
    right: -9px;
    width: 10px;
    height: 10px;
    background: var(--color-primary);
    clip-path: polygon(100% 0, 0 100%, 0 0);
  }
}

/* messages load response */
.animation_load_messages{
  &>span{
    animation: infinite .8s cubic-bezier(0.175, 0.885, 0.32, 1.175) animation_load_message;
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    &:nth-child(1){
      animation-delay: 0.1s;
    }
    &:nth-child(2){
      animation-delay: 0.2s;
    }
    &:nth-child(3){
      animation-delay: 0.3s;
    }
  }
}

@keyframes animation_load_message {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-3px);
  }
  100%{
    transform: translateY(1px);
  }
}