@import "tailwindcss";

/* tailwind theme */
@theme{
  --color-primary:#5a189a;
  --color-primary-hover:#3c096c;
  --color-secondary:#1854c5;
  --color-bg:#121517;
  --color-details:#393a3a;
}
/* tailwind theme */

*{
  font-family: 'Jost', sans-serif;

  /* Webkit scrollbar customization */
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-bg);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-details);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary);
  }
}

.clip_triangle{
  &.bot::after{
    content: "";
    position: absolute;
    top: 0;
    left: -9px;
    width: 10px;
    height: 10px;
    background: var(--color-secondary);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
  }
  &.user::after{
    content: "";
    position: absolute;
    top: 0;
    right: -9px;
    width: 10px;
    height: 10px;
    background: var(--color-primary);
    clip-path: polygon(100% 0, 0 100%, 0 0);
  }
}